.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition: opacity 0.5s, background-color 1.5s;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

section {
    height: 100vh;
    padding-top: 120px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}